  <form class="card-new" action="index.html" method="post">
    <textarea name="card[title]" rows="4" cols="23"></textarea>
    <button class="submit">Add</button>
    <button class="close-new-card">X</button>
  </form>
