<h1>Create Board</h1>
<button class="close-window">X</button>
<hr>
<form class="board-new" action="index.html" method="post">
  <label for="board_title">Title: </label>
  <input id="board_title"
         type="text"
         name="board[title]"
         value="<%= board.escape("title") %>">
  <button class="submit">Create</button>
</form>
