
  <form class="list" action="index.html" method="post">
    <input id="list_title"
           type="text"
           name="list[title]"
           value="<%= list.escape("title") %>"
           placeholder="Add list">
    <button class="submit">Save</button>
  </form>
